#login-page {
    width: 100%;
    .login-box {
        width: 400px;
        margin-left: 15%;
        margin-top: 10%;
    }

    .login-box-mobile {
        margin: auto;
        margin-top: 10%;
        width: 80% !important;
        .login-wrapper {
            margin-top: 30%;
        }
    }

    .login-wrapper {
        margin-top: 50%;
        h2 {
            font-size: 36px;
            // font-family: Branding;
            font-weight: bold;
        }
    }

    .example-label {
        top: 498px;
        left: 136px;
        width: 520px;
        height: 77px;
    }

    .login-form {
        margin-top: 10%;
        width: 100%;
    }

    .logo {
        max-width: 180px;
        max-height: 80px;
        margin-top: 10%;
    }

    .mat-form-field {
        height: 100%;
        width: 125%;
        max-width: 200%;
        margin-left: 0% !important;
        padding-left: 0% !important;
    }
    
    .mat-raised-button{
        background-color: #8538C2 !important;
        text-align: center;
        color: white;
        width:124%;
        margin-left: 15%;
        height: 48px;
        margin: 0%;
    }

    .img-box {
        background-image: url(../../../assets/background/imagem-login.png) !important;
        background-color: var(--dark-bg-secondary) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh !important;
    }

    // .mat-form-field-appearance-outline .mat-form-field-wrapper {
    //     margin: 0 !important;
    // }

    // .mat-form-field-wrapper {
    //     padding-bottom: 8px !important;
    // }
}
