<div #portal class="page">
  <div class="content-scroll">
  <div class="group-box-superior"  fxLayout="row" fxLayoutAlign="space-around center"  >
    <img
    class="img"
    src="../assets/icons/1.png"
    (click)="openApp(3403)"
  />
  <img
    class="img"
    src="../assets/icons/2.png"
    (click)="openApp(3401)"
  />
  <img
    class="img"
    src="../assets/icons/3.png"
    (click)="openApp(3402)"
  />
  </div>
  <div  class="group-box-bottom" fxLayout="row" fxLayoutAlign="space-around center"  >
    <img
    class="img"
    src="../assets/icons/4.png"
    (click)="openApp(3405)"
  />
  <img
    class="img"
    src="../assets/icons/5.png"
    (click)="openApp(3400)"
  />
  <img
  class="img"
  src="../assets/icons/6.png"
  (click)="openApp(3404)"
/>
</div>
