#banner {
  background-color: white;
  border-style: groove;
  border-width: 2px;
  width: 100%;
  max-width: 800px;
  position: fixed;
  z-index: 999;
  padding: 16px 48px 8px;
  margin: auto;
  margin-top: 5rem;
  left: 0;
  right: 0;
  color: black;
  border-radius: 10px;
  border-color:#E30F10 ;
  padding: 10px;
}

p{
  font-size:18px;
  padding-left: 8px;
}

mat-icon{
  margin: 8px;

}
.mat-button{
  vertical-align: center;
  margin-right: 0% !important;
}


