#banner {
  background-color: #90beba;
  width: 100%;
  max-width: 800px;
  position: fixed;
  z-index: 999;
  padding: 16px 48px 8px;
  margin: auto;
  margin-top: 5rem;
  left: 0;
  right: 0;
  color: black;
  border-radius: 10px;
}
