.envolti-btn.mat-raised-button {
    background-color: #753BBD !important;
    text-align: center;
    color: white;
    height: 52px;
}

.envolti-btn.mat-raised-button:hover {
    background-color: #a964e2 !important;
    transition: background-color 0.5s ease;
}
 
