.toolbar {
  img {
    width: 128px;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 80px;
}

.mat-toolbar {
  background-color: #753bbd;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
mat-icon{
  margin: 20px;
  width: 100%; 
  cursor: pointer;
}